<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html::head"></head>

<body class="bg-light">
<header th:replace="fragments/header.html::navBar"></header>
<div class="container">
    Привет Админ!!!
    <br>
    <br>

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button type="button" class="btn btn-secondary" onclick="getUsers()">Пользователи</button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary" onclick="getRestaurants()">Рестораны</button>
        </div>
    </div>

    <br>
    <div id="tableUni"></div>
</div>

<div th:replace="fragments/modalWindows.html::regModal"></div>
<div th:replace="fragments/modalWindows.html::addDishModal"></div>
<div th:replace="fragments/modalWindows.html::addRestaurantModal"></div>
<div th:replace="fragments/modalWindows.html::updateUserModal"></div>
<div th:replace="fragments/modalWindows.html::updateRestaurantModal"></div>
</body>
</html>